html {
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}

body{
    padding:0;
    margin:0;
    font-family:Adelle, Roboto Slab, DejaVu Serif, Georgia, Times New Roman, sans-serif;
    font-size:14px;
    line-height:22px;
    color:#4e443c;
    background:#f0efe7 url(/images/bg/body.jpg)
}

main {
    background-color: white;
    width: 800px;
    margin: auto;
    padding: 10px;
    box-shadow: 1px 1px 1px black;
}


code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}

img{
    border:0
}

figure{
    margin:1em 40px
}